.container_confirm {
  height: calc(100vh - 72px);
}

.form__description_confirm {
  & a {
    display: inline;
    text-decoration: underline;
    color: $input-accent;
  }
}

@media screen and (min-width: 768px) {
  .form__title_confirm {
    margin-bottom: 32px;
  }
}
