.section_login {
  background-image: url('../img/bg-mobile@x2.jpg');
}

.form__input__wrapper_login {
  &:last-child {
    margin-bottom: 64px;
  }

  &:nth-child(1)::before {
    background-image: url('../svg/email.svg');
  }

  &:nth-child(2)::before {
    background-image: url('../svg/lock.svg');
  }
}

.form__button_login {
  width: 116px;
  margin-bottom: 32px;

  background-position-x: 77px;
}

.form__link_login {
  margin: 0;
  margin-bottom: 97px;
  font-weight: 500;
}

.form__textwrapper_login {
  & a {
    margin: 0;
    font-weight: 600;
    line-height: 1.46;
  }
}

@media screen and (min-width: 768px) {
  .section_login {
    background-image: url('../img/bg-tablet-login@x2.jpg');
  }

  .form_login {
    padding: 264px 96px 80px;
  }

  .form__button_login {
    width: 138px;
    margin-bottom: 32px;

    background-position-x: 90px;
  }

  .form__textwrapper_login {
    & a {
      margin-left: 12px;
    }
  }

  .form__link_login {
    margin-bottom: 257px;
  }
}

@media screen and (min-width: 1280px) {
  .section_login {
    background-image: url('../img/bg-desktop@x2.jpg');
  }
}
