.form_restore {
  height: calc(100vh - 37px);
  padding: 32px;
}

.form__title_restore {
  position: relative;
  margin-left: 38px;

  & a {
    color: inherit;
  }
}

.form__button_restore {
  width: 198px;
}

.button__svg_restore {
  right: 32px;
}

.form__textwrapper_restore {
  & a {
    margin: 0;
    font-weight: 600;
    line-height: 1.46;
  }
}

@media screen and (min-width: 768px) {
  .form_restore {
    height: 1024px;
    padding: 264px 96px 415px;
  }

  .form__title_restore {
    margin-bottom: 32px;
  }

  .form__input_restore {
    margin-bottom: 64px;
  }

  .form__button_restore {
    width: 214px;
    margin-bottom: 32px;
  }

  .form__textwrapper_restore {
    & a {
      margin-left: 12px;
    }
  }
}
