.section {
  padding-top: 72px;
  background-image: url('../img/bg-mobile@x2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 0;
    padding-left: 208px;
    background-image: url('../img/bg-tablet@x2.jpg');
    background-position: left;
    background-size: cover;
  }

  .section__doctor {
    padding: 0 64px 48px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    background-image: url('../img/bg-desktop@x2.jpg');
  }
}
