.container {
  width: 100%;
  height: auto;
  padding: 32px;

  border: none;
  border-radius: 24px 24px 0px 0px;
  background-color: $main-bg;
}

.container__doctor {
  padding: 40px 24px;

  outline: 1px solid green;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 264px 96px 620px;
    border-radius: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 560px;
    height: 1024px;
    margin-left: auto;
  }
}
